<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tzt.customizekt">

    <application
        android:name="com.tzt.common.basedepency.TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".study.page.EnterDiyActivity"/>
        <activity android:name=".study.page.WaveViewActivity" />
        <activity android:name=".study.page.MiSportsActivity" />
        <activity android:name=".study.page.PageActivity" />
        <activity
            android:name=".MainActivity"
            android:label="自定义View" />
        <activity android:name=".CustomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".diy.text.DxTextViewTest"/>
        <activity android:name=".diy.text.sample.ColorTrackViewTest"/>
        <activity android:name=".diy.view.waveView.WaveTest" />
        <activity android:name=".diy.view.dropdownView.DropDownTest" />
        <activity android:name=".diy.view.refreshView.PullToRefreshTest" />
        <activity android:name=".diy.view.DRefreshLayout.DRefreshViewTest" />
        <activity android:name=".diy.gesture.InterceptEventTest" />
        <activity android:name=".diy.view.linkedmoveView.LinkedMoViewTest" />
        <activity android:name=".diy.view.transition.TransitionActivity2" />
        <activity android:name=".diy.view.transition.TransitionActivity1" />
        <activity android:name=".diy.view.transition.SetFactory2Test" />
        <activity android:name=".diy.view.headscroll.WechatHeaderTest2" />
        <activity android:name=".diy.view.headscroll.WechatHeaderTest" />
        <activity android:name=".diy.view.letterSideBar.LetterSideBarActivity" />
    </application>

</manifest>